<%- contentFor('body') %>
  <ul class="list-group mt-3">
    <% posts.forEach( row => { %>
      <li class="card mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col-6 col-lg-10"><%= row.author %></div>
            <div class="col-6 col-lg-2 text-right"><%= `${row.created_at.getDate()}/${row.created_at.getMonth() + 1}/${row.created_at.getFullYear()}` %></div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= row.title %></h5>
          <p class="card-text"><%= row.description %></p>
          <a href='<%= ` ${row.author}/${row.post_id}` %>' class="btn bg-dark text-white">Read</a>
        </div>

      </li>
  <% }); %>
  </ul>

  